:root {
  --primary-color: #646cff; /* Default color */
  --background-color: #ffffff; /* Default background color */
  --text-color: #213547; /* Default text color */

  /* Dark mode */
  --dark-primary-color: #535bf2;
  --dark-background-color: #242424;
  --dark-text-color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--dark-primary-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--text-color);
}

button:hover {
  border-color: var(--primary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Adjustments for dark mode */
[data-theme='dark'] {
  --primary-color: var(--dark-primary-color);
  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
}
